{% extends "base.html" %}

{% block body_content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="http://twitter.github.com/bootstrap/examples/hero.html#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
            <ul>
                <li>
                    <a href="{% url 'reservations' %}">Show reservations for a given day</a>
                </li>
                <li>
                    <a href="{% url 'cars' %}">View all cars in the fleet, and add new cars</a>
                </li>
                <li>
                    <a href="{% url 'members' %}">View all members, and add new ones</a>
                </li>
            </ul>
        </div>
        
      </div>

      



{% endblock %}