{% extends "base.html" %}

{% block body_content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to K-Town Car Share!</h1>
        <p>Car sharing services are well-established in Europe and are becoming popular in Canadian urban centers like Toronto and Montreal. K-Town Car Share provides people with the convenience of a vehicle when they need it without having to purchase one. It also promotes a healthier environment.</p>
        <p><a href="http://en.wikipedia.org/wiki/Carsharing" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
            <ul>
                <li>
                    <a href="{% url 'members' %}">View all members, and add new ones</a>
                </li>
                <li>
                    <a href="{% url 'reservations' %}">Show reservations for a given day, and create new reservations (this automatically charges the member's account for the reservation)</a>
                </li>
                <li>
                    <a href="{% url 'members' %}">Show all members and view their account transactions (you can also make balance payments and charge them their annual fee)</a>
                </li>
                <li>
                    <a href="{% url 'cars' %}">View all cars at a location, all cars not in use, reservations and usage history for each car, and add new cars to the fleet</a>
                </li>
                <li>
                    <a href="{% url 'members' %}">View all members, and add new ones</a>
                </li>

            </ul>
        </div>
        
      </div>

      



{% endblock %}