{% extends "base.html" %}

{% block body_content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Daily Reservations</h1>
        <p>Choose a date to see all reservations for that day.</p>


        <form method="get" action="" >
            <p>Date: <input type="text" id="datepicker" name="date"/></p>
            <input type="submit" value="Filter by date" class="btn btn-primary" /> 
        </form>

      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
            <table class="table table-striped table-hover">
                {% for res in reservations %}
                <tr>
                    <td>{{ res.pickupDate }}</td>
                    <td>{{ res.pickupTime }}</td>
                    <td>For {{ res.duration }} hours</td>

                    {% comment %}
                    <td>{{ res.car.model }}</td>
                    <td>{{ res.member.name }}</td>
                    <td>{{ res.location.address }}</td>
                    {% endcomment %}
                </tr>
                {% endfor %}
            </table>
        </div>
        
      </div>

{% endblock %}